# Журналы
журналы
* .log
npm-debug.log *
пряжа-debug.log *
пряжа-error.log *
lerna-debug.log *

# Диагностические отчеты (https://nodejs.org/api/report.html)
отчет. [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * .json

# Данные времени выполнения
pids
* .pid
* .seed
* .pid.lock

# Каталог инструментальных библиотек, созданных jscoverage / JSCover
lib-cov

# Каталог покрытия, используемый такими инструментами, как istanbul
покрытие
* .lcov

# NYC тестовое покрытие
.nyc_output

# Промежуточное хранилище Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Каталог зависимостей Bower (https://bower.io/)
bower_components

# конфигурация node-waf
.lock-wscript

# Скомпилированные бинарные дополнения (https://nodejs.org/api/addons.html)
сборка / выпуск

# Каталоги зависимостей
node_modules /
jspm_packages /

# Файлы объявлений TypeScript v1
наборов /

# Кеш TypeScript
* .tsbuildinfo

# Необязательный каталог кеша npm
.npm

# Необязательный кеш eslint
.eslintcache

# Кэш Microbundle
.rpt2_cache /
.rts2_cache_cjs /
.rts2_cache_es /
.rts2_cache_umd /

# Дополнительная история REPL
.node_repl_history

# Вывод 'npm pack'
* .tgz

# Файл целостности пряжи
.yarn-целостность

# dotenv файл переменных среды
.env
.env.test

# кеш сборщика посылок (https://parceljs.org/)
.cache

# Вывод сборки Next.js
.Следующий

# Nuxt.js строит / генерирует вывод
.nuxt
расстояние

# Файлы Gatsby
.cache /
# Добавьте комментарий в публичной строке, если в вашем проекте используется * Gatsby, а не * Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# общедоступный

# вывод сборки vuepress
.vuepress / dist

# Бессерверные каталоги
.serverless /

# Кеш FuseBox
.fusebox /

# DynamoDB Локальные файлы
.dynamodb /

# Файл порта TernJS
.tern-порт

# Мусор ОС
.DS_Store